# Server Port (Cloud / Local)
PORT=8080

# Optional Central Server Address for Terminals (if connecting to remote server)
HP_API_BASE_URL=http://localhost:8080

# Optional Database Configurations
DB_HOST=localhost
DB_PORT=3306
DB_NAME=hp_care_db
DB_USER=hpcare_user
DB_PASSWORD=hpcare_secret_password
